.team-heading {
	color: white;
	background-color: rgb(57, 157, 238);
}

.team-area {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	border-spacing: 2px;
}

.card-header {
	color: white;
	background-color: rgb(57, 157, 238);
	margin: 20px;
}

.card-body {
	margin: 20px;
}

.card {
	border: solid 1px black;
	margin: 5px;
	margin-bottom: 5px;
	padding: 5px;
	display: flex;
	flex-wrap: auto;
}
